version: "3.9"

services:

  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: kanban_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/var/www/html
    env_file:
      - ./backend/.env
    depends_on:
      - db
    networks:
      - kanban_network
    command: sh -c "php artisan serve --host=0.0.0.0 --port=8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: kanban_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      #- /app/node_modules
    working_dir: /app
    env_file:
      - ./frontend/.env
    depends_on:
      - app
    networks:
      - kanban_network

  db:
    image: mysql:8
    container_name: kanban_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3307:3306"
    networks:
      - kanban_network

volumes:
  db_data:

networks:
  kanban_network:
    driver: bridge