.board-page {
  background: #f5f6fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 32px;
  background: white;
  border-top: 1px solid #e2e4ea;
  box-shadow: 0 4px 18px rgba(0,0,0,0.05);
  position: relative;
  z-index: 3;
}

.kanban-board-title {
  font-size: 15px;
  font-weight: 600;
  padding-left: 25px; 
}

.board-header-actions {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  border: none;
}

.btn-light {
  background: #ececff;
  color: #3838d9;
}

.btn-light:hover {
  background: #dcdcff;
}

.btn-danger {
  background: #ff4a4a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-danger:hover {
  background: #e63c3c;
}

.btn-danger .icon {
  width: 16px;
  height: 16px;
  filter: invert(1); 
}


.columns-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 40px 50px;
  padding-bottom: 40px;

  overflow-x: auto;
  overflow-y: visible;

  box-sizing: border-box;
  width: 100%;
}


.column {
  flex: 0 0 260px;
  width: 260px;
  background: white;
  padding: 14px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.07);
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: calc(100vh - 250px); 
}

.column-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.column-header h3 {
  margin: 0;
}

.dots-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
}

.column-content {
  min-height: 60px;
  flex-grow: 1;
}


.add-item-btn {
  width: 100%;
  text-align: left;
  padding: 10px;
  border-radius: 8px;
  background: #ececff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 600;
  color: #3838d9;
}

.add-item-btn:hover {
  background: #dcdcff;
}


.add-column-btn {
  flex: 0 0 140px;
  height: 60px;
  background: #ececff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.add-column-btn:hover {
  background: #dcdcff;
}
